

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="style.css" />
<body>
<div class="main">
  <h1>Register</h1>
<form class="" action="/register" method="post">

<label for="Name">Name</label><hr>
<input type="text" name="name" placeholder="Name" id="name" required><br><br>
<label for="Email">Email</label><hr>
<input type="text" name="email" placeholder="Email" id="Email" required><br><br>
<label for="Password">Password</label><hr>
<input type="password" name="password" placeholder="Password" id="password" required>
<span id="text1" onclick="show()">Show</span>
<br>
<button type="submit" name="submit">Sign Up</button>

</form>
<center>
<p> If you already an account
<a href="/login" class="link">Login Now</a>
<p>
<center>
</div>

<footer>
Node.js Project by Jafory
</footer>

<script type="text/javascript" src="s_h.js"></script>

</body>
