body {
  margin: 0;
  padding: 0;
  background-color: #e4e3e3;
}


.main {
  top: 15vh;
  max-width:500px;
  margin: 0 atuo;
  position:relative;
  left: 50%;
  transform:translateX(-50%);
}


h1 {
  text-align:center;
  font-size:50px;
  color:red;
}

form {
  margin: 10px;
}

form input[type=text], input[type=password], input[type=submit] {
  width: 100%;
  margin-bottom: 10px;
  height: 50px;
  padding: 7px;
  border: 2px solid black;
  border-radius:10px;
}

button {
  background-color: #2196f3;
  color: white;
  font-weight: 700;
  width: 100%;
  margin-bottom: 10px;
  height: 50px;
  padding: 7px;
  border: none;
  border-radius:10px;
  cursor: pointer;
}
button:hover{
  background-color: #2196CC;
}

.link {
  text-align: center;
  text-decoration: none;
  color:#2196CC;
  text-align: center;
}


.nav_user {
  float: right;
  font-size: 15px;
  position: absolute;
  top: 35px;
  right: 30px;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 100px;
}

h3 {
  padding: 30px;
  margin-left: 20px;
  font-size: 50px;
}

.main_box{
  text-align: center;
}
#text1 {
    position: relative;
    float: right;
    top: -45px;
    right: 10px;
}

footer {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}
